version: "3.7"

services:
  labelbase_mysql:
    build:
      context: ./mysql
    stop_grace_period: 1m
    restart: always
    environment:
      - MYSQL_DATABASE=labelbase
      - MYSQL_USER=ulabelbase
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD=$MYSQL_PASSWORD
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - db_data:/run/mysqld
    networks:
      - compose_network
  labelbase_django:
    build:
      context: ./django
      dockerfile: Dockerfile
    expose:
      - "8000"
    ports:
      - "8000"
    volumes:
      - ./django:/app
      - db_data:/var/lib/mysql
      - db_data:/run/mysqld
      - web_static:/app/static/
    depends_on:
      - labelbase_mysql
    restart: always
    networks:
      - compose_network
    environment:
      - MYSQL_USER=ulabelbase
      - MYSQL_DATABASE=labelbase
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD=$MYSQL_PASSWORD
    command: /app/run.sh
  labelbase_nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./django:/app
      - web_static:/app/static/:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - labelbase_django
    networks:
      - compose_network
volumes:
  db_data:
  tmp:
  web_static:

networks:
  compose_network:
