{% load bootstrap %}
<!-- modal -->
<div class="modal" tabindex="-1" id="addLabelModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{% url "labelbase" labelbase_id=active_labelbase_id %}" method="post">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Create New Label</h5>
        <a href="#" type="button" class="btn btn-link" style="color: #727272;"
          onclick="$('.help-block').css('display', 'block');">
            <span data-feather="help-circle" ></span></a>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ labelform|bootstrap }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="startButton">Start Scanner</button>
        <button type="submit" class="btn btn-primary">OK</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- QR Scanner Section -->
<div id="scanner-obj" style="display: none; padding-top:1rem;">
  <div>
    <video id="video" width="100%" height="210"></video>
  </div>
  <div class="pmd-card-actions mt-2">
    <button type="button" class="btn btn-secondary" id="resetButton">Stop Scanner</button>
  </div>
  <div id="sourceSelectPanel" style="display:none" class="mt-2">
    <label for="sourceSelect">Change video source:</label>
    <select id="sourceSelect" style="max-width:400px"></select>
  </div>
</div>

<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    $('#addLabelModal').on('shown.bs.modal', function () {
      const refInputField = document.getElementById('id_ref').parentElement;
      const scannerObj = document.getElementById('scanner-obj');
      refInputField.insertAdjacentElement('afterend', scannerObj);
      // Initialize QR scanner functionality
      let selectedDeviceId;
      const codeReader = new ZXing.BrowserMultiFormatReader();
      console.log('ZXing code reader initialized');
      codeReader.getVideoInputDevices().then((videoInputDevices) => {
        const sourceSelect = document.getElementById('sourceSelect');
        selectedDeviceId = videoInputDevices[0].deviceId;
        if (videoInputDevices.length >= 1) {
          videoInputDevices.forEach((element) => {
            const sourceOption = document.createElement('option');
            sourceOption.text = element.label;
            sourceOption.value = element.deviceId;
            sourceSelect.appendChild(sourceOption);
          });

          sourceSelect.onchange = () => {
            selectedDeviceId = sourceSelect.value;
          };

          const sourceSelectPanel = document.getElementById('sourceSelectPanel');
          sourceSelectPanel.style.display = 'block';
        }

        document.getElementById('startButton').addEventListener('click', () => {
          codeReader.decodeFromVideoDevice(selectedDeviceId, 'video', (result, err) => {
            if (result) {
              console.log(result);
              document.getElementById('id_ref').value = result.text;
              codeReader.reset();
              document.getElementById('scanner-obj').style.display = 'none';
            }
            if (err && !(err instanceof ZXing.NotFoundException)) {
              console.error(err);
            }
          });
          document.getElementById('scanner-obj').style.display = 'block';
          console.log(`Started continuous decode from camera with id ${selectedDeviceId}`);
        });

        document.getElementById('resetButton').addEventListener('click', () => {
          codeReader.reset();
          document.getElementById('id_ref').value = '';
          document.getElementById('scanner-obj').style.display = 'none';
          console.log('Reset.');
        });

      }).catch((err) => {
        console.error(err);
      });
    });
  });

</script>
