{% extends "_base.html" %}
{% load i18n %}

{% block title %}About{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}

<pre>

   :)
</pre>

{% comment %}

<h4>Responsible Disclosure</h4>

Send us an email to report any security related bugs or vulnerabilities at labelbase.space+security@proton.me.

<br>

You can encrypt your email message using our public PGP key.

<br>

Public key fingerprint: <tt>BC0A 05F7 6650 C669 99EE  E203 ABAF FDA8 0EBE 8287</tt>.

{% endcomment %}

{% endblock %}
