{% extends "_base.html" %}
{% load i18n %}

{% block title %}API Key{% endblock %}
{% block nav_apikey %}active{% endblock %}

{% block content %}
  <h2 style="padding-top: 1em;">API Key</h2>
  <h4>Labelbase API</h4>
  <p>
     The Labelbase API is used for submitting labels to your Labelbase as well as exporting and managing them.
  </p>
  <p>
    The current version of the Labelbase API is known as <tt>v0</tt> and is considered to be ready to build against it.
  </p>
  <p>
    While we don’t expect our public endpoints to change, keep in mind that the API is still under development.
  </p>


<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">API Key</h4>
  <p>
    Your API key is:<br><br>
    <strong><tt>{{ api_token }}</tt></strong> <br>
  </p>
  <div id="qrcode"></div>
  <script>
    var qrcode = new QRCode("qrcode", {
        text: "{{ api_token }}",
        width: 145,
        height: 145,
        colorDark : "#000000",
        colorLight : "#cfe2ff",
        correctLevel : QRCode.CorrectLevel.H
    });
  </script>
</div>

<div class="alert alert-warning" role="alert">
  API keys work like passwords. Always keep them secret and secure!
</div>

<h4 style="padding-top: 1em;">API Reference</h4>
<p>
  API Reference: <a href="/api-reference/">/api-reference/</a>
</p>
<p>
  If you require any assistance or encounter any issues, please don't hesitate to reach out to us.
</p>
<p>
  We're here to help and are more than happy to assist you with any questions or requests you may have.
</p>
<p>
  Your feedback is important to us. :)
</p>

{% endblock %}
