{% extends "_base.html" %}
{% load sekizai_tags %}
{% load i18n %}

{% block title %}Donate Support Labelbase{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}

  <div class=" p-3 pb-md-4 mx-auto text-left">
    <h2 class="display-8 fw-normal">Support Labelbase: Make a difference with your donation</h2>
    <br>
  <p class="fs-5 text-muted">Every contribution helps us build a better Bitcoin labeling experience.</p>
  <p class="fs-5 text-muted">
Choose the amount you'd like to donate to Labelbase.
</p>  <p class="fs-5 text-muted">

Your generosity ensures that our project continues to thrive and evolve, directly supporting our mission to make Bitcoin transactions more organized and transparent.
</p>  <p class="fs-5 text-muted">
Thank you for your support!
    </p>





  </div>

{% addtoblock "js" %}

{% endaddtoblock %}
{% endblock %}
