{% extends "_base.html" %}
{% load i18n %}
{% load sekizai_tags %}
{% load bootstrap %}

{% block content %}
{% include "profile_header_menu.html" %}
<div style="padding-top: 2rem; ">
{% block profile_content %}{% endblock %}
</div>

<p class="fs-6 text-muted">
  Update your Electrum server information.
  <br><br>
  If you don't run your own Electrum server, here are some community trusted mainnet servers: <br>
  <ul>
    <li> electrum.blockstream.info / s50002</li>
    <li> bitcoin.lu.ke / s50002</li>
    <li> electrum.emzy.de / s50002</li> 
  </ul>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form|bootstrap }}
      <tr>
        <td>&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <button class="btn btn-primary" type="submit">Update Electrum ServerInfo</button>
        </td>
      </tr>
    </table>
  </form>


</p>
{% endblock %}
