{% extends "_base.html" %}
{% load i18n %}
{% load sekizai_tags %}
{% load bootstrap %}

{% block content %}
{% include "profile_header_menu.html" %}
<div style="padding-top: 2rem; ">
{% block profile_content %}{% endblock %}
</div>

<p class="fs-6 text-muted">
  Update your Electrum server information.
  <br><br>
  <!-- Trusting Craig on this one. https://github.com/sparrowwallet/sparrow/blob/f003b6d732bd73d93fe904659e61e0d56f6cb280/src/main/java/com/sparrowwallet/sparrow/net/PublicElectrumServer.java -->
  If you don't run your own Electrum server, here are some community trusted mainnet servers: <br>
  <ul>
    <li> electrum.emzy.de / s50002</li>
    <li> electrum.blockstream.info / s50002</li>
    <li> <s>bitcoin.lu.ke / s50002</s></li>
    <!--li> umbrel.local / t50001</s> <sup>1</sup></li-->

  </ul>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form|bootstrap }}
      <tr>
        <td>&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <button class="btn btn-primary" type="submit">Update Electrum ServerInfo</button>
        </td>
      </tr>
    </table>
  </form>

  <!--hr>
  <small><sup>1</sup> Access your local Umbrel node, within your local network. </small-->

</p>
{% endblock %}
