{% extends "label_edit.html" %}
{% load bootstrap %}
{% load i18n %}

{% block label_edit_content %}
<!--
{{  res_tx|safe }}
-->
{% if action == "output-details" %}
  {% if form.instance.type == "output" %}
  <br>
  <!-- ID: {{ output.id }} -->
  <pre>

    Output, ref:  {{ label.ref }}
    Output value, in sats: {{ output.value }}
    Confirmed at block height: {{ output.confirmed_at_block_height }}
    Confirmed at block time: {{ output.confirmed_at_block_time }}
    Network: {{ output.get_network_display }}
    Spent: {{ output.spent }}
    {% if output.next_input_attributes %}
    Fee estimation will be made based on:

      {{ output.next_input_attributes }}

      {% if output.next_input_attributes.input_n %}
        * Assuming {{ output.next_input_attributes.input_m }}-of-{{ output.next_input_attributes.input_n }} multisig
      {% else %}
      {% endif %}
    {% endif %}

  </pre>
  {% endif %}
{% endif %}
{% endblock %}
