{% extends "_base.html" %}
{% load i18n %}
{% load labelbase_tags %}
{% load importer_tags %}
{% load sekizai_tags %}
{% load bootstrap %}

{% block content %}

{% include "_labelbase_header_info_menu.html" %}


{% if labelbase %}
{% if request.GET.tag %}
  Hashtag filter is active:
  <span class="badge badge-hashtag badge-hashtag-nohover">
      <tt style="pointer-events: none;">{{ request.GET.tag }}</tt>
      <button onclick="window.location='{% url 'labelbase' labelbase.id %}'";
              type="button"
              class="btn-close"
              style="padding-left: 0.4rem; margin-right: -0.1rem; font-size: .6rem; font-weight: bolder !important;"
              ></button>
  </span>
{% else %}
{% endif %}


<div class="table-responsive" style="padding-top:1em" >
    {% if label_list %}
    <table id="bip329labels" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">type</th>
          <th scope="col">ref</th>
          <th scope="col">label</th>
          <th scope="col">origin</th>
          <th scope="col">spendable</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
    {% else %}
      <p>There are no labels in this labelbase.</p>
      <p>You can create new labels by using the 'New Label' button on the top right, or <a href="#" data-bs-toggle="modal" data-bs-target="#importLabelbaseModal">import your existing labels</a>.</p>
    {% endif %}
</div>
{% endif %}

{% if labelbase %}

{% include "_modal_add_label.html" %}

<!-- modal -->
<div class="modal" tabindex="-1" id="editLabelbaseModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{% url 'edit_labelbase' labelbase.id %}" method="post">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Edit labelbase</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% labelbaseform_edit labelbase as edit_form %}
        {{ edit_form|bootstrap  }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">OK</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" id="connectApiKeyLabelbaseModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">API Connect</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          API Key: <strong><tt>{{ api_token }}</tt></strong>
        <br>
          Labelbase ID: <strong><tt>{{labelbase.id }}</tt></strong>
        <br>
          Base Endpoint: <strong><tt>https://labelbase.space/api/</tt></strong>
        </p>
        <center>
          <div style="padding:1.5em;" id="qrcode"></div>

          <div class="alert alert-warning" role="alert">
            API keys work like passwords. Keep them secret!<br>
            Whoever knows the key can access your labelbases.<br>
          </div>
        </center>
        <p>
          Our API reference can be found here: <br>
          <a href="https://labelbase.space/api-reference/">https://labelbase.space/api-reference/</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" id="deleteLabelbaseModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete labelbase and labels?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
         <strong>Warning:</strong>
         <br>
         <br>
         This action will permanently delete the labelbase and its labels and cannot be undone.
         <br><br>
         Are you sure you want to proceed?
        </div>
      </div>
      <form method="post" action="{% url 'del_labelbase' labelbase.pk %}">{% csrf_token %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">DELETE</button>
      </div>
      </form>
    </div>
  </div>
</div>



  <script>
    {% addtoblock "js" %}
    $(document).ready(function () {

      const dt_table = $('#bip329labels').dataTable({
        order: [[0, "asc"]],
        columns: [
            {
                data: 'id',
                orderable: true,
                searchable: true
            },
            {
                data: 'type',
                orderable: true,
                searchable: true
            },
            {
                data: 'ref',
                orderable: true,
                searchable: true,
            },
            {
                data: 'label',
                orderable: true,
                searchable: true,
            },
            {
                data: 'origin',
                orderable: true,
                searchable: true,
            },
            {
                data: 'spendable',
                orderable: true,
                searchable: true,
            }
        ],
        searching: true,
        processing: false,
        serverSide: true,
        stateSave: true,
        responsive: true,
        ajax: {
              url: "{% url 'labelbase_label_data' labelbase.pk %}?tag={{ request.GET.tag }}",
              type: 'GET'
          },
      });


      var qrcode = new QRCode("qrcode", {
          text: JSON.stringify({
              api_key: '{{ api_token }}',
              api_base: 'https://labelbase.space/api/',
              labelbase_id: {{labelbase.id }},
              name: '{{labelbase.name }}',
              fingerprint: '{{  labelbase.fingerprint }}',
            }),

          width: 200,
          height: 200,
          colorDark : "#000000",
          colorLight : "#ffffff",
          correctLevel : QRCode.CorrectLevel.H
      });

    });

    function removeHashtag() {
        alert("Hashtag removed!"); // Example alert
    }

    {% endaddtoblock %}
  </script>



{% endif %}
<!-- end modal -->

{% endblock %}
