{% extends "_base.html" %}
{% load i18n %}

{% block title %}Privacy{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}



  <div class=" p-3 pb-md-4 mx-auto text-left">
    <h2 class="display-8 fw-normal">Privacy Policy</h2>
    <p>
      The privacy policy applies to labelbase.space hosted by Labelbase. For self-hosted versions, variations or customizations may exist.

      Users are responsible for reviewing any specific privacy considerations or customizations made to their instance.<br><br>

      Last updated: March 21<sup>th</sup> 2024.</p>

    <p class="fs-5 text-muted">
      <ol style="line-height:2em; ">
        <li>We do not use any analytics or tracking tools that collect personal information, but {# offer an optional opt-in to use #} we use <a href="https://sentry.io/">Sentry</a> for anonymized error tracking, ensuring users are not associated with reported errors. You can opt-out from Sentry error tracking in your profile settings.</li>
        <li>This website does not use cookies, except for the login session and other essential cookies required for the functionality of the web application. However, your IP address may be collected as part of basic webserver logs necessary for systems administration purposes. </li>
        <li>We do not collect or store information, expect the information that is attached directly to labels. Deleting your Labelbase removes the labels attached to it. </li>
        <li>We do not share any information with third parties including advertisers. See 6. for interated APIs and services.</li>
        <li>This is not a wallet software. We cannot access your funds.</li>
        <li>We are and act as your data processor. In other words: You are responsible for the labelbases, labels and additional date you create on or upload to Labelbase, which we store and process to provide our services to you. </li>
        <li>"Labelbase" uses the following 3<sup>rd</sup> party APIs and services:
          <ul>
            <li>The addresses and transactions are provided with hyperlinks to mempool.space. These links must be actively clicked.</li>
            <li>We connect and may get data (like exchange rates) from mempool.space</li>
            <li>We connect and may get data from some "community trusted" Electrum servers.</li>
          </ul>
          We have no influence over wallets and services that implement our API.

        </li>
      </ol>
    </p>
  </div>

{% endblock %}
