{% extends "_base.html" %}
{% load i18n %}

{% block title %}About{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <style>


    .lb-header {
      max-width: 810px;
    }
  </style>
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 style="padding-top: 1.6em; padding-bottom: 0.9em; text-transform: uppercase;font-weight:800;">L<span style="height:1.1em; width:1em" data-feather="tag" class="align-text-bottom"></span>belbase</h1>
    <h2 class="display-6 fw-normal" style="padding-bottom: 0.9em;">All your labels in one place.</h2>
  </div>




  <div class="lb-header p-3 pb-md-4 mx-auto text-left">
    <h2 class="display-8 fw-normal">About</h2>

    <p class="fs-5 text-muted">
      <ol style="line-height:2em; ">
        <li>
        </li>
      </ol>
    </p>
  </div>

{% endblock %}
