{% extends "_base.html" %}
{% load i18n %}

{% block title %}Privacy{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <style>


    .lb-header {
      max-width: 810px;
    }
  </style>
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 style="padding-top: 1.6em; padding-bottom: 0.9em; text-transform: uppercase;font-weight:800;">L<span style="height:1.1em; width:1em" data-feather="tag" class="align-text-bottom"></span>belbase</h1>
    <h2 class="display-6 fw-normal" style="padding-bottom: 0.9em;">All your labels in one place.</h2>
  </div>




  <div class="lb-header p-3 pb-md-4 mx-auto text-left">
    <h2 class="display-8 fw-normal">Frequently Asked Questions</h2>
    <p>
    </p>
    <h3 class="display-10 fw-normal">How to import labels from my wallet into Labelbase?</h3>
    <p class="fs-5 text-muted">
      To import data from various wallet's export format into Labelbase and then export it as BIP-329 labels, you would need to follow these steps:

      <ol>
        <li>
          Export data from your wallet: The first step is to export your data from your wallet. The format of this export will depend on the wallet you are using, but it may include private keys, public keys, or other information.
        </li>
        <li>
          Import data into Labelbase: Next, you'll need to import the exported data into Labelbase. You can do this by using the import feature within your Labelbase. Choose the appropriate option based on the file format you want to import.
          Even through we do not store your uploaded files, <br>DO NOT UPLOAD ANY PRIVATE KEY MATERIAL TO LABELBASE.
        </li>
        <li>
          Modify and edit labels: Once your labels are imported into Labelbase, you can modify and edit your labels as needed. This may include changing the names of your addresses, grouping them into different categories, or adding additional information.
        </li>
        <li>
          Export as BIP-329 labels: Finally, you'll need to export your labels from Labelbase as BIP-329 labels. This will typically involve downloading a file in the BIP-329 format, which you can then import into your wallet.
        </li>
        <li>
          Use Labelbase through the API: Alternatively, you can use Labelbase through the API in your wallet. This will allow you to access your labels directly from within your wallet, without the need to export and import files. To do this, your wallet needs to integrate the Labelbase API into the wallet.
        </li>
      </ol>

    </p>

  </div>
    {#% include "footer.html" %#}
    {% comment %}

  {% url 'registration' as reg_url %}
  {% url 'two_factor:login' as login_url %}
  {% url 'two_factor:setup' as setup_url %}
  {% url 'logout' as logout_url %}
  {% url 'secret' as secret_url %}

  <h4>{% trans "Next steps:" %}</h4>
  <ol>
    <li>{% blocktrans trimmed %}Start by <a href="{{ reg_url }}">registering</a> an
      account.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ login_url }}">Login</a> to your account.
      {% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ setup_url }}">Enable</a> two-factor
      authentication.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Then, <a href="{{ logout_url }}">logout</a> and
      <a href="{{ login_url }}">login</a> once more to your account to see
      two-factor authentication at work.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}At last, you've gained access to the
      <a href="{{ secret_url }}">secret page</a>! :-){% endblocktrans %}</li>
  </ol>


  {% endcomment %}
{% endblock %}
