<footer  class="pt-4 my-md-5 pt-md-5 border-top">
  <div style="max-width: 810px;"  class="row  mx-auto text-center">
    <div class="col-12 col-md">
      <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
      <small class="d-block mb-3 text-muted">©  2023 </small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Label Import</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Label Export</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Label Merging</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">API and Integrations</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Two Factor Authentication</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Mempool Integration</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/bitcoin/bips/blob/master/bip-0329.mediawiki">BIP-329</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/api-reference/">API Reference</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>

        <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://twitter.com/xavierfiechter">Xavier Fiechter on Twitter</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://astral.ninja/npub1tkd6930wp6rw93z80v29avcp7t0svp36r86vf2usg27nguvgaj8qqmkmkx">Xavier Fiechter on Nostr</a></li>


      </ul>
    </div>
  </div>
</footer>
