{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block content %}



<div style="padding-top: 1em;">

  <div class="row">
    <div class="col float-start">
      <h2>{% block title %}LazyTiger {% endblock %}</h2>
    </div>

    <div class="col float-end" >
{% comment %}
      <div class="btn-group float-end" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Import</button>
        <button type="button" class="btn btn-primary">Export</button>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Import
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Export
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>

      </div>
{% endcomment %}
    </div>
  </div>
</div>

  <div class="table-responsive" style="padding-top:1em" >
    <table id="bip329labels" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">type</th>
          <th scope="col">ref</th>
          <th scope="col">label</th>
        </tr>
      </thead>


      <tbody>
        <tr>
          <td>1,001</td>
          <td>tx</td>
          <td>f91d0a8a78462bc59398f2c5d7a84fcff491c26ba54c4833478b202796c8aafd</td>
          <td>Transaction</td>

        </tr>
        <tr>
          <td>1,001</td>
          <td>addr</td>
          <td>bc1q34aq5drpuwy3wgl9lhup9892qp6svr8ldzyy7c</td>
          <td>Address</td>

        </tr>
        <tr>
          <td>1,001</td>
          <td>input</td>
          <td>0283409659355b6d1cc3c32decd5d561abaac86c37a353b52895a5e6c196d6f448</td>
          <td>placeholder</td>

        </tr><tr>
          <td>1,001</td>
          <td>random</td>
          <td>f91d0a8a78462bc59398f2c5d7a84fcff491c26ba54c4833478b202796c8aafd</td>
          <td>placeholder</td>

        </tr><tr>
          <td>1,001</td>
          <td>output</td>
          <td>f91d0a8a78462bc59398f2c5d7a84fcff491c26ba54c4833478b202796c8aafd</td>
          <td>placeholder</td>

        </tr><tr>
          <td>1,001</td>
          <td>xpub</td>
          <td>xpub661MyMwAqRbcFtXgS5sYJABqqG9YLmC4Q1Rdap9gSE8NqtwybGhePY2gZ29ESFjqJoCu1Rupje8YtGqsefD265TMg7usUDFdp6W1EGMcet8</td>
          <td>Extended Public Key</td>

        </tr>

      </tbody>
    </table>
    </div>


{% endblock %}
