{% extends "_base.html" %}
{% load i18n %}

{% block title %}Privacy{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <style>


    .pricing-header {
      max-width: 810px;
    }
  </style>
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 style="padding-top: 1.6em; padding-bottom: 0.9em; text-transform: uppercase;font-weight:800;">L<span style="height:1.1em; width:1em" data-feather="tag" class="align-text-bottom"></span>belbase</h1>
    <h2 class="display-6 fw-normal" style="padding-bottom: 0.9em;">All your labels in one place.</h2>
  </div>




  <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
    <h2 class="display-8 fw-normal">Privacy Policy</h2>
    <small>February 10<sup>th</sup> 2023</small>

    <p class="fs-5 text-muted">
      <ol style="line-height:2em; ">
        <li>We do not use any analytics or tracking tools.</li>
        <li>This website does not use cookies, apart from the login session. However, your IP address may be collected as part of basic webserver logs necessary for systems administration purposes. </li>
        <li>We do not collect or store information, expect the information that is attached directly to labels. Deleting your Labelbase removes the labels attached to it. </li>
        <li>We do not share any information with third parties including advertisers. See 6. for interated APIs and services.</li>
        <li>We cannot access your funds.</li>
        <li>We are and act as your data processor. In other words: You are responsible for the labels you create on or upload to Labelbase, which we store and process to provide our services to you. </li>
        <li>"Labelbase" uses the following 3<sup>rd</sup> party APIs and services:
          <ul>
            <li>The addresses and transactions are provided with a hyperlink to mempool.space. This link must be actively clicked. </li>
            <li>We have no influence on wallets and services that implement our API.</li>
          </ul>
        </li>
      </ol>
    </p>
  </div>
    {#% include "footer.html" %#}
    {% comment %}

  {% url 'registration' as reg_url %}
  {% url 'two_factor:login' as login_url %}
  {% url 'two_factor:setup' as setup_url %}
  {% url 'logout' as logout_url %}
  {% url 'secret' as secret_url %}

  <h4>{% trans "Next steps:" %}</h4>
  <ol>
    <li>{% blocktrans trimmed %}Start by <a href="{{ reg_url }}">registering</a> an
      account.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ login_url }}">Login</a> to your account.
      {% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ setup_url }}">Enable</a> two-factor
      authentication.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Then, <a href="{{ logout_url }}">logout</a> and
      <a href="{{ login_url }}">login</a> once more to your account to see
      two-factor authentication at work.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}At last, you've gained access to the
      <a href="{{ secret_url }}">secret page</a>! :-){% endblocktrans %}</li>
  </ol>


  {% endcomment %}
{% endblock %}
