{% extends "_base.html" %}
{% load i18n %}

{% block title %}Profile{% endblock %}
{% block nav_userprofile %}active{% endblock %}

{% block content %}
  <h2 style="padding-top: 1em;">Profile</h2>


  <h4>Labelbase API </h4>
  <p>
     The Labelbase API is used for submitting labels to your Labelbase as well as exporting and managing them.
  </p>
  <p>
    The current version of the Labelbase API is known as v0 and is considered to be ready to build against it.

  </p>
  <p>
    While we don’t expect public endpoints to change greatly, keep in mind that the API is still under development.
  </p>
  <p>
      Your API key is: <tt>{{ api_token }}</tt>
  </p>
{% endblock %}
api_token
