{% extends "_base.html" %}
{% load i18n %}

{% block content %}
  <h2 style="padding-top: 1em;">{% block title %}Create your Labelbase account{% endblock %}</h2>
  <p>
    <form action="" method="POST">
      {% csrf_token %}
      <table>
          {{ form.as_table }}
      <tr>
        <td>&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <a href="{% url 'two_factor:login' %}" class="btn btn-link">Sign in instead</a>
          <button class="btn btn-primary" type="submit">Create your account</button>
        </td>
      </tr>

      </table>
    </form>
  </p>

{% endblock %}
