{% extends "_base.html" %}
{% load i18n %}

{% block title %}Terms of Service{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <style>


    .pricing-header {
      max-width: 810px;
    }
  </style>
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 style="padding-top: 1.6em; padding-bottom: 0.9em; text-transform: uppercase;font-weight:800;">L<span style="height:1.1em; width:1em" data-feather="tag" class="align-text-bottom"></span>belbase</h1>
    <h2 class="display-6 fw-normal" style="padding-bottom: 0.9em;">All your labels in one place.</h2>
  </div>




  <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
    <h2 class="display-8 fw-normal">Terms of Service</h2>
    <small>February 10<sup>th</sup> 2023</small>
    <p class="fs-5 text-muted">
    "LABELBASE" (labelbase.space) is provided without any guarantees of anything, not
even that it will do its job properly. If you have any doubts, please use an
alternate service.
</p>

<p class="fs-5 text-muted">
You agree that you will hold "LABELBASE"
harmless and indemnify us from all losses, damages, and costs related to or
arising from the services provided by "LABELBASE".
</p>

<p class="fs-5 text-muted">
 All donations are non-refundable.</p>
<p>

<h3 class="display-12 fw-normal">
  DISCLAIMER OF WARRANTY; LIMITATION OF LIABILITY
</h3>

<p class="fs-5 text-muted">
USER EXPRESSLY AGREES THAT USE OF "LABELBASE" IS AT USER'S SOLE RISK.
</p>

<p class="fs-5 text-muted">
NEITHER "LABELBASE", ITS AFFILIATES NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS,
THIRD PARTY CONTENT PROVIDERS OR LICENSORS WARRANT THAT "LABELBASE" WILL BE
UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS
THAT MAY BE OBTAINED FROM USE OF "LABELBASE", OR AS TO THE ACCURACY, RELIABILITY
OR CONTENT OF ANY INFORMATION, SERVICE, OR MERCHANDISE PROVIDED THROUGH "LABELBASE".
</p>

<p class="fs-5 text-muted">
"LABELBASE" IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER
EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED
WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE
WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION
UNDER THE LAWS APPLICABLE TO THIS AGREEMENT.
</p>

<p class="fs-5 text-muted">
THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE
OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION
OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION
OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF
CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION.
USER SPECIFICALLY ACKNOWLEDGES THAT "LABELBASE" IS NOT LIABLE FOR THE DEFAMATORY,
OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF
INJURY FROM THE FOREGOING RESTS ENTIRELY WITH USER.
</p>

<p class="fs-5 text-muted">
IN NO EVENT WILL "LABELBASE", OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING
OR DISTRIBUTING "LABELBASE" OR THE "LABELBASE" SERVICE, BE LIABLE FOR ANY DAMAGES,
INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL
OR PUNITIVE DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE "LABELBASE".
USER HEREBY ACKNOWLEDGES THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL
CONTENT ON THE SITE.
</p>

<p class="fs-5 text-muted">
IN ADDITION TO THE TERMS SET FORTH ABOVE NEITHER, "LABELBASE", NOR ITS AFFILIATES,
INFORMATION PROVIDERS OR CONTENT PARTNERS SHALL BE LIABLE REGARDLESS OF THE CAUSE
OR DURATION, FOR ANY ERRORS, INACCURACIES, OMISSIONS, OR OTHER DEFECTS IN, OR
UNTIMELINESS OR UNAUTHENTICITY OF, THE INFORMATION CONTAINED WITHIN "LABELBASE",
OR FOR ANY DELAY OR INTERRUPTION IN THE TRANSMISSION THEREOF TO THE USER, OR FOR ANY
CLAIMS OR LOSSES ARISING THEREFROM OR OCCASIONED THEREBY. NONE OF THE FOREGOING PARTIES
 SHALL BE LIABLE FOR ANY THIRD-PARTY CLAIMS OR LOSSES OF ANY NATURE, INCLUDING,
 BUT NOT LIMITED TO, LOST PROFITS, PUNITIVE OR CONSEQUENTIAL DAMAGES.
</p>

<p class="fs-5 text-muted">
NEITHER, "LABELBASE", NOR ITS AFFILIATES, INFORMATION PROVIDERS OR CONTENT PARTNERS
WARRANT OR GUARANTEE THE TIMELINESS, SEQUENCE, ACCURACY OR COMPLETENESS OF THIS
INFORMATION. ADDITIONALLY, THERE ARE NO WARRANTIES AS TO THE RESULTS OBTAINED FROM
THE USE OF THE INFORMATION.
</p>

<p class="fs-5 text-muted">
FORCE MAJEURE – NEITHER PARTY WILL BE RESPONSIBLE FOR ANY FAILURE OR DELAY IN
PERFORMANCE DUE TO CIRCUMSTANCES BEYOND ITS REASONABLE CONTROL, INCLUDING, WITHOUT
LIMITATION, ACTS OF GOD, WAR, RIOT, EMBARGOES, ACTS OF CIVIL OR MILITARY AUTHORITIES,
FIRE, FLOODS, ACCIDENTS, SERVICE OUTAGES RESULTING FROM EQUIPMENT AND/OR SOFTWARE
 FAILURE AND/OR TELECOMMUNICATIONS FAILURES, POWER FAILURES, NETWORK FAILURES,
 FAILURES OF THIRD PARTY SERVICE PROVIDERS (INCLUDING PROVIDERS OF INTERNET SERVICES
 AND TELECOMMUNICATIONS). THE PARTY AFFECTED BY ANY SUCH EVENT SHALL NOTIFY THE OTHER
 PARTY WITHIN A MAXIMUM OF FIFTEEN (15) DAYS FROM ITS OCCURRENCE. THE PERFORMANCE OF
 THIS AGREEMENT SHALL THEN BE SUSPENDED FOR AS LONG AS ANY SUCH EVENT SHALL PREVENT
 THE AFFECTED PARTY FROM PERFORMING ITS OBLIGATIONS UNDER THIS AGREEMENT.</p>






  </div>



    {#% include "footer.html" %#}
    {% comment %}

  {% url 'registration' as reg_url %}
  {% url 'two_factor:login' as login_url %}
  {% url 'two_factor:setup' as setup_url %}
  {% url 'logout' as logout_url %}
  {% url 'secret' as secret_url %}

  <h4>{% trans "Next steps:" %}</h4>
  <ol>
    <li>{% blocktrans trimmed %}Start by <a href="{{ reg_url }}">registering</a> an
      account.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ login_url }}">Login</a> to your account.
      {% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}<a href="{{ setup_url }}">Enable</a> two-factor
      authentication.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}Then, <a href="{{ logout_url }}">logout</a> and
      <a href="{{ login_url }}">login</a> once more to your account to see
      two-factor authentication at work.{% endblocktrans %}</li>
    <li>{% blocktrans trimmed %}At last, you've gained access to the
      <a href="{{ secret_url }}">secret page</a>! :-){% endblocktrans %}</li>
  </ol>


  {% endcomment %}
{% endblock %}
