{% extends "_base.html" %}
{% load markdown_extras %}
{% load breadcrumb_tags %}
{% load i18n %}
{% load static %}
{% load sekizai_tags %}

{% block title %}{{ article.title }} | Labelbase{% endblock %}

{% block content %}
<style>
{% addtoblock "css" %}
  pre {
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
    border-left: 3px solid #ccc;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}

code {
    font-family: inherit;
    color: inherit;
    padding: 0;
    background-color: transparent;
    border: none;
}
{% endaddtoblock %}
</style>



{% breadcrumbs_article article as current_breadcrumbs %}
<nav style="padding-top: 0.76rem; --bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">

  <ol class="breadcrumb">
    {% for breadcrumb in current_breadcrumbs %}
      {% if request.path == breadcrumb.url %}
      <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.label }}</li>
      {% else %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
{{ article.content | markdown | safe }}


{% endblock %}
