{% extends "_base.html" %}
{% load markdown_extras %}
{% load breadcrumb_tags %}
{% load i18n %}
{% load static %}

{% block title %}{{ category.name }} Knowledge Base | Labelbase{% endblock %}
{#% block nav_home %}active{% endblock %#}

{% block content %}
<div class="fs-6">
    {% breadcrumbs_category category as current_breadcrumbs %}
    <nav style="padding-top: 0.76rem; --bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">

      <ol class="breadcrumb">
        {% for breadcrumb in current_breadcrumbs %}
          {% if request.path == breadcrumb.url %}
          <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.label }}</li>
          {% else %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>

    <h2>{{ category.name }}</h2>
    <ul class="list-group list-group-flush">

        {% for article in category.article_set.all %}
          <li class="list-group-item"><a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
